body{
    margin: 0 auto;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 52px;
}

.heading-border {
    border-left: 5px solid #FF5959;
    padding-left: 14px;
}
.section-padding{
    padding-top: 40px;
}
.container-flex{
    display: flex;
}
.half-width{
    width: 50%;
    
}
.orange-color{
    color: #FFAD5A;
}
.half-width img {
    width: 75%;
}

.half-width {
    margin-left: 64px;
    padding: 20px;
}

a.btn {
    background-color: #FF5959;
    padding: 13px 31px;
    color: #fff;
    text-decoration: none;
    line-height: 2.8;
    border-radius: 7px;
}

p {
    text-align: justify;
}

.mission-section h1 {
    text-align: center;
}

.single-mission img {
    width: 32%;
}

.single-mission {
    padding: 39px;
    background-color: #EDF5F6;
    margin: 23px;
    border-radius: 20px;
}


.single-mission h3 {
    font-size: 21px;
}

#second-vission {
    background-color: #FFEEEE;
}

#third-goals {
    background-color: #FFF4D6;
}
.contact {
    text-align: center;
}

.contact-form input, textarea {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 11px 20px;
    margin-bottom: 13px;
    border: 3px solid #FFAD5A;
    border-radius: 9px;
}

.contact-form input::placeholder, textarea::placeholder {
    color: #000;
}
.footer h1 {
    text-align: center;
    font-style: italic;
    font-size: 38px;
}

.footer p {
    text-align: center;
}

.footer span {
    color: #FF5959;
}

.footer {
    background-color: #0B0D17;
    color: #fff;
    padding: 20px;
}